.divjoueur1{
    height: 100%;
    width: 100%;
}

.divjoueur2{
    
    height: 100%;
    width: 100%;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: "https://fonts.google.com/specimen/Lato";
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

html{
    height: 100%;
}

.text{
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    
}

.current{
    background-color: #e32400;
    height: 6rem;
    width: 10rem;
    min-width: auto;
    min-height: auto;
    
}

.dice {
    width: 10vh;
    height: 10vh;
    perspective: 1000px;
    margin: auto;
}

.side {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    padding-left: 0;
    margin-left: 0;
}

@keyframes roll {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(720deg) rotateY(720deg); }
}

.encours{
    width: 10px;
    height: 10px;
    background-color:#e32400;
    border-radius: 50%; 
    padding-left: 2%;
    margin-top:0.5cm;
    margin-left: 17%;
    
}

.modif{
    height: 10px;
    margin-left: 2%;
}

.hold{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
}

.roll{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
}

.newgame{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
}

#round1, #round2{
    color: #fff;
}

#global1 ,#global2{
    color: #e32400;
    font-size: 15vh;
}

.point{
    background-color: #e32400;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto;
};